.carousel-caption-top {
    font-size: calc(2em + 1vw);
    color: #353A3F;
    position: absolute; 
    top: 5%;
    left: 5%;
    text-align: left;
    line-height: 1.1em; 
    z-index: 1;
}

.carousel-caption-top-right-white {
    font-size: calc(2em + 1vw);
    color: #FFF;
    position: absolute; 
    top: 5%;
    right: 5%;
    text-align: right;
    line-height: 1.1em; 
    z-index: 1;
}

.carousel-caption-bottom {
    font-size: calc(1em + 0.7vw);
    color: #353A3F;
    position: absolute; 
    bottom: 5%;
    right: 5%;
    text-align: left;
    line-height: 1.2em; 
    z-index: 1;
}

.texto-subtitulo {
    font-size: calc(0.5em + 1vw);
}

.carousel-boton {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}


@media screen and (max-width: 1000px){
   .carousel-caption-top{
        font-size: calc(1.75em + 1vw);
    }
    .carousel-caption-bottom{
        font-size: calc(1.75em + 1vw);
    }
    .carousel-boton {
        font-size: 1rem;
    }
}

@media screen and (max-width: 900px){
    .carousel-caption-top{
         font-size: calc(1.50em + 1vw);
     }
     .carousel-caption-bottom{
        font-size: calc(1.50em + 1vw);
     }
     .carousel-boton {
        font-size: 0.9rem;
    }
 }
 

@media screen and (max-width: 800px){
    .carousel-caption-top{
         font-size: calc(1.25em + 1vw);
     }
     .carousel-caption-bottom{
        font-size: calc(1.25em + 1vw);
     }
     .carousel-boton {
        font-size: 0.8rem;
    }
 }

 @media screen and (max-width: 700px){
    .carousel-caption-top{
         font-size: calc(1.25em + 1vw);
     }
     .carousel-caption-bottom{
        font-size: calc(1.25em + 1vw);
     }
     .carousel-boton {
        font-size: 0.7rem;
    }
 }
 

.negrita {
    font-weight: 800;
}

.subrayado {
    background: linear-gradient(transparent 55%, #bde2f7 55%, #bde2f7 100%);
}