/* Visionwin Gestión */


.gestion-banner {
    background-size: cover;
    background-position: bottom center;
    margin-bottom: 0;
    background-image: url('../img/software-facturacion.webp');
    height: auto;
}

