/* Ajustes de márgenes para los containers */

body {
    background: #f3f3f3;
}

.container {
    padding: 20px 0px;
}

.articulo-blog {
    padding-left: 3%;
    padding-right: 3%;
}


/* Estilos de los iconos sociales */

.icon-bar a {
    display: inline;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.3s ease;
    color: white;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}


/* Ajustes del jumbotron */

.jumbotron {
    background-size: cover;
    background-position: center center;
    margin-bottom: 0;
}

.jumbocontacto {
    background-image: url('../img/fondo_contacto.webp');
    min-height: 15vh;
}

.jumboregistro {
    background-image: url('../img/fondo_registro.webp');
    min-height: 426px;
}

.jumbonube {
    background-image: url('../img/fondo_nube.webp');
    min-height: 426px;
}

.jumbocopias {
    background-image: url('../img/fondo_copias.webp');
    min-height: 426px;
}

.jumbodistribucion {
    background-image: url('../img/fondo_distribucion.webp');
    min-height: 426px;
}


/* Navbar del menú colores de los items activos y con el ratón encima */

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    background-color: #1a9fda;
    color: white;
    border-radius: 5px;
    transition: all 0.4s;
}

.fondo-cabecera {
    background-color: #1a9fda;
    color: white;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 75px;
    text-align: center;
    background-image: url('../img/bgpol.webp');
}

.texto-cabecera {
    font-weight: lighter;
}

h1,
.h1 {
    font-weight: lighter;
}

h2,
.h2 {
    font-weight: lighter;
}

h3,
.h3 {
    font-weight: lighter;
}

.ligero {
    font-weight: lighter;
}

.titulo-index {
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: normal;
    color: #1a9fda;
}

.subtitulo-index {
    font-size: 2em;
    font-weight: 250;
    letter-spacing: -1px;
    line-height: normal;
    color: gray;
}

.subrayado-negro {
    border-bottom: 1px dashed #000;
    color: #000;
    padding: 0 0 10px;
    font-weight: lighter;
}

.subrayado-azul {
    border-bottom: 1px dashed #1a9fda;
    color: #1a9fda;
    padding: 0 0 10px;
    font-weight: lighter;
}


/* Estilos de color para fontawesome iconos ok y cancel */

.fa-check {
    color: limegreen;
}

.fa-times {
    color: red;
}

.estilopie {
    background-color: #23282c;
    color: gainsboro;
    padding: 4.5rem 0 7.5rem 0;
}

.estilopie h3, .estilopie h5 {
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
}

.estilopie h6, .estilopie .h6 {
    margin-bottom: 1rem;
    color: white;
    font-weight: 500;
    line-height: 1.2;
}

.estilopie a {
    color: #adb5bd;
    transition: color .2s ease;
    text-decoration: none;
    background-color: transparent;
    font-size: 0.9rem;
}

.estilopie a:hover {
    color: white;
}

.text-muted {
    font-size: 0.9rem;
}

.slogan-pie {
    margin-bottom: 2rem;
    color: #adb5bd;
    font-size: 0.8rem;
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
}

.u-ver-divider {
    top: 0;
    right: 0;
    height: 100%;
    border-right: 1px solid #e7eaf3;
    content: "";
}

.u-icon {
    z-index: 1;
    line-height: 0.7;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 2.125rem;
    height: 2.125rem;
    font-size: 3rem;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    color: #377dff;
}


/* Efectos de sombreado y colores de los paneles de textos iniciales */

.panel {
    border-radius: 0px;
    transition: box-shadow 0.5s;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .3);
}

.panel-resaltado {
    border: 1px solid;
    border-color: lightgray;
    border-radius: 5px;
    transition: box-shadow 0.5s;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.panel-no-padding {
    border-radius: 5px;
    transition: box-shadow 0.5s;
}

.panel-no-padding:hover {
    box-shadow: 5px 0px 20px rgba(0, 0, 0, .3);
}

.media {
    border-radius: 5px;
    transition: box-shadow 0.5s;
}

.media:hover {
    box-shadow: 5px 0px 20px rgba(0, 0, 0, .3);
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.li-boletines {
    padding-bottom: 10px;
    list-style-type: square;
    color: #1a9fda;
}


/* El botón de "ir arriba" */

.scrollup {
    width: 40px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    text-indent: -9999px;
    background: url('../img/icon_top.webp') no-repeat;
    z-index: 1;
}


/* Los botones "primary" tendrán el color de visionwin */

.btn-primary {
    background-color: #1a9fda;
    border-color: #1a9fda;
    transition: all 0.3s ease;
}

.btn-outline-primary {
    border-color: #1a9fda;
    color: #1a9fda;
    background-color: white;
    ;
    transition: all 0.3s ease;
}

.btn-outline-primary:hover {
    background-color: #1a9fda;
    border-color: #1a9fda;
}

@media screen and (max-width: 768px) {
    .scrollup {
        width: 50px;
        height: 50px;
        bottom: 10px;
        right: 10px;
    }
}

h2.card-title, h3.card-title {
    font-size: 1.25rem;
    font-weight: 500;
}

.btn-info {
    background-color: #1a9fda
}
